<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.lims.mapper.ConsumableMapper">
    <resultMap id="Consumable" type="com.example.demo.lims.vo.Consumable">
        <id property="id" column="id"/>
        <result property="num" column="num"/>
        <result property="name" column="name"/>
        <result property="consumableId" column="consumable_id"/>
        <result property="consumable" column="consumable"/>
        <result property="storehouse" column="storehouse"/>
        <result property="stock" column="stock"/>
        <result property="unit" column="unit"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <insert id="insertConsumable" parameterType="Consumable">
        insert  into consumable (num,name,consumable_id,consumable,storehouse,stock,unit,remark)
        values (#{num},#{name},#{consumableId},#{consumable},#{storehouse},0,#{unit},#{remark})
    </insert>

    <delete id="deleteConsumable" parameterType="Consumable">
        delete from consumable
        where id= #{id}
    </delete>

    <update id="updateConsumable" parameterType="Consumable" >
        UPDATE consumable
        SET
        name  = #{name},
        consumable_id  = #{consumableId},
        consumable  = #{consumable},
        storehouse  = #{storehouse},
        unit  = #{unit},
        remark  = #{remark}
        WHERE id= #{id}
    </update>

    <select id="selectConsumable" resultMap="Consumable">
        select * from consumable
        where id= #{id}
    </select>

    <select id="selectAllConsumable" resultMap="Consumable">
        select * from consumable
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from consumable
    </select>

    <select id="pageConsumable" parameterType="Map" resultMap="Consumable">
        select *
        from consumable
        where num LIKE concat('%',#{num},'%')
        and name LIKE concat('%',#{name},'%')
            limit #{start},#{size}
    </select>

    <update id="updateStock" parameterType="UpdateStock" >
        UPDATE consumable
        SET
        stock  = #{stock}
        WHERE id= #{id}
    </update>


    <select id="selectStock" parameterType="Consumable" resultType="Consumable">
        select * from consumable
        where id= #{id}
    </select>

</mapper>
