<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.lims.mapper.PersonMapper">
    <resultMap id="Person" type="com.example.demo.lims.vo.Person">
        <id property="personId" column="person_id"/>
        <result property="personName" column="person_name"/>
        <result property="personPassword" column="person_password"/>
        <result property="personAge" column="person_age"/>
        <result property="personGender" column="person_gender"/>
        <result property="personSchoolId" column="person_school_id"/>
        <result property="personSchoolName" column="person_school_name"/>
        <result property="personRole" column="person_role"/>
        <result property="personRoleName" column="person_role_name"/>
    </resultMap>


    <insert id="insertPerson" parameterType="person">
        insert  into person (person_name,person_password,person_age,person_gender,person_school_id,person_school_name,person_role,person_role_name)
        values (#{personName},123456,#{personAge},#{personGender},#{personSchoolId},#{personSchoolName},#{personRole},#{personRoleName})
    </insert>

    <delete id="deletePerson" parameterType="person">
        delete from person
        where person_id = #{personId}
    </delete>

    <update id="updatePerson" parameterType="person" >
        UPDATE person
        SET
        person_name  = #{personName},
        person_password  = #{personPassword},
        person_age  = #{personAge},
        person_gender  = #{personGender},
        person_school_id  = #{personSchoolId},
        person_school_name  = #{personSchoolName},
        person_role  = #{personRole},
        person_role_name  = #{personRoleName}
        WHERE person_id= #{personId}
    </update>

    <select id="selectPerson" resultMap="Person">
        select * from person
        where person_id= #{personId}
    </select>

    <select id="selectAllPerson" resultMap="Person">
        select * from person
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from person
    </select>

    <select id="pagePerson" parameterType="Map" resultMap="Person">
        select *
        from person
        where person_name LIKE concat('%',#{personName},'%')
            limit #{start},#{size}
    </select>

    <select id="login" resultMap="Person">
        select *
        from person
        where person_name = #{personName}
        and person_password = #{personPassword}
    </select>

    <update id="updatePassword" parameterType="person" >
        UPDATE person
        SET
        person_password  = #{personPassword}
        WHERE person_id= #{personId}
    </update>


</mapper>
